* {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    padding: 0 !important;
    margin: 0 !important;
}

$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1536px;

@mixin xs {
    @media (max-width: #{$breakpoint-xs}) {
        @content;
    }
}

@mixin sm {
    @media (max-width: #{$breakpoint-sm}) {
        @content;
    }
}

@mixin md {
    @media (max-width: #{$breakpoint-md}) {
        @content;
    }
}

@mixin lg {
    @media (max-width: #{$breakpoint-lg}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$breakpoint-xl}) {
        @content;
    }
}

.home {
    // width: 90% !important;
}

.linkandarrow {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #9A9EA6;
    flex-direction: row;
}

.container {

    h6 {
        color: #9A9EA6 !important;
    }


    h5 {
        color: #4475F2 !important;
    }

    .Search {
        .search-input {
            padding-left: 40px !important;
            padding-right: 10px !important;
            width: 530px;
            height: 48px;
            border-radius: 30px;
            border: none;
            outline: none;
            background-color: #F0F1F2;
            position: relative;

            &::placeholder {
                font-size: 16px;
                color: #9A9EA6;
                padding: 0px;
            }

            .search-input:focus::placeholder {
                color: transparent;
                /* OR */
                opacity: 0;
                /* OR */
                display: none;
            }
        }

        .search-icon {
            position: absolute;
            width: 16px;
            height: 16px;
            top: 36%;
            left: 20px;
            color: #9A9EA6;
        }

        /* When search is active */
        .search-input:focus~.search-icon {
            display: none;
        }

        /* OR if you want to handle click events */
        .search-input:active~.search-icon {
            display: none;
        }
    }

    .lang {
        display: flex;
        align-items: center;
        justify-content: center;
        // gap: 6px !important;

        svg {
            color: #9A9EA6;
        }
    }

    .location {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        svg {


            color: #4475F2;

            &.location-icon {


                background-color: #E3EBFD;
                border-radius: 50%;
                padding: 2px !important;
                padding-bottom: 8px !important;
                padding-top: 8px !important;
                margin: 5px;
            }
        }


        .sub-text {
            color: #9A9EA6 !important;
            display: flex;
            flex-direction: column;
            align-items: start;

            svg {
                background-color: white;
                border-radius: 50%;
                padding: 0;
                font-size: 30px;
            }

            span {
                font-weight: bold;
                color: #4475F2 !important;
            }

            .sub-2 {
                display: flex;
                flex-direction: row;
                align-items: center;
            }


        }
    }
}

.drawer-search {
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #E0E0E0;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    &::placeholder {
        color: #9A9EA6;
        text-align: center;
    }
}

.nav-down-wrapper {
    padding-top: 10px !important;
    background-color: #fff;
    display: flex;
    gap: 80px;

    @include md {
        flex-direction: column;
        margin: 0;
        padding: 0;
        margin-top: 100px;
    }

    .links {
        display: flex;
        flex-direction: row;
        gap: 40px;

        @include md {
            flex-direction: column;
            gap: 15px;
        }
    }

    .btns {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .person {
            padding: 12px !important;
            width: 48px;
            height: 48px;
            font-size: 20px;
            background-color: #E3EBFD;
            color: #4475F2;
            border-radius: 50%;
        }

        .shop {
            padding: 12px !important;
            width: 48px;
            height: 48px;
            font-size: 20px;
            background-color: #4475F2;
            color: white;
            border-radius: 50%;
        }
    }
}

svg.location-icon {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;


    path {
        translate: 10% 10%;
        scale: .8;
    }
}

svg.playback {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;

    path {
        translate: 18% 20%;
        scale: .6;
    }
}

.photo-playback {
    @include md {
        width: 100%;
        height: 100%;
        margin-top: 72px;
    }

    @include sm {
        margin-top: 50px;
        width: 100%;
        height: 100%;
    }

}

.circle-shadow {
    content: "";
    position: absolute;
    top: 40%;
    left: 35%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 1px 1px 100px 120px rgb(177, 198, 252);
    opacity: .8;
    z-index: -1;
}

.man-landing-photo {
    @include md {
        width: 70%;
        height: 70%;
        margin-top: 72px;
    }

    @include sm {
        margin-top: 50px;
        width: 70%;
        height: 70%;
    }
}

.chip {
    color: #4475F2 !important;
    background-color: #E3EBFD !important;
}

.landing-wrapper {
    margin-top: 130px !important;
    margin-bottom: 50px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 81vh;

    @include md {
        flex-direction: column-reverse;
        gap: 15px;
        height: auto;
        margin-top: 72px !important;
    }
}

.landing-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 34px !important;

    button {
        padding: 0 10px !important;
    }
}

.sponsors {
    display: flex;
    flex-direction: row;
    gap: 30px !important;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px !important;
    margin-bottom: 153px !important;
    min-height: 100px;



    @include md {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .photo-gray {
        transform: scale(0.9);
        /* Using transform instead of scale property */
        filter: grayscale(100%);
        transition: transform 0.3s ease-in-out,
            filter 0.3s ease-in-out,
            box-shadow 0.3s ease-in-out;

        &:hover {
            transform: scale(1);
            /* Using transform instead of scale */
            cursor: pointer;
            filter: grayscale(0%) brightness(1.2);
            box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.05);
        }
    }
}

.counries {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px !important;

    @include md {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }

    @include sm {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.country-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 278.46px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 1.07px 4.94px 0px #81818104;
    box-shadow: 0px 2.48px 11.48px 0px #81818108;
    box-shadow: 0px 4.45px 20.61px 0px #8181810B;
    box-shadow: 0px 7.39px 34.2px 0px #8181810E;
    box-shadow: 0px 12.17px 56.35px 0px #81818111;
    box-shadow: 0px 21.27px 98.48px 0px #81818115;
    box-shadow: 0px 46px 213px 0px #8181811F;



    @include md {
        width: 100%;
        height: 100%;
    }

    .img {
        border-radius: 6px;
        object-fit: cover;
        width: 278.46px;
        height: 392.36px;
    }

    .sub-text {
        p {
            position: relative;
            font-size: 17px;
            padding-left: 10px !important;
            z-index: 780 !important;

            &.two {
                color: #80918E;
            }

            &.one {
                font-weight: bold !important;
                color: black;
            }
        }

        width: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        backdrop-filter: blur(1px);
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 0 6px 0;
    }

    @include md {
        background: transparent;
    }

    @include sm {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 90px;
        margin-top: 10px;
    }
}

.section-emoji {
    width: 50px !important;
    margin-right: 10px !important;
}

.fav-wrapper,
.section-wrapper {

    h1 {
        font-weight: bold;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;


    @include md() {
        padding: 50px;
    }


    p {
        &.title {
            font-size: 18px;
            color: #4475F2 !important;
            font-weight: bold;

            @include md {

                padding-left: 20px !important;
            }
        }
    }

    .fav-sub,
    .section-sub {
        .section-emoji {
            width: inherit();
        }

        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        @include md {
            padding-left: 30px !important;
        }
    }
}

.emoji-box {
    width: 50px !important;
    height: 50px !important;
}

.revers {
    max-width: 548px !important;
}

.map-feature {
    svg {
        path {
            width: 24px;
            height: 24px;
        }
    }
}

.gray-color {
    color: rgba(154, 158, 166, 1);
    font-weight: 400;
}

.my-25 {
    margin-bottom: 25px;
    margin-top: 25px;
}

.emoji-box {
    margin: 10px;
    width: 50px !important;
    height: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    background-color: rgba(239, 224, 180, 1);
    margin-right: 10px;
}

.gallery-wrapper {
    display: flex;
    flex-direction: column;
    gap: 37px;
    margin-top: 54px !important;
}

.fav-sec {
    margin-bottom: 88px !important;
}

.reserv-section-wrapper {
    margin-bottom: 135px !important;
}

.map-section-wrapper {
    margin-bottom: 153px !important;
}

.gallery-section-wrapper {
    margin-bottom: 201px !important;
}

.comments-section-wrapper {
    gap: 87px;
    margin-bottom: 201px !important;
    box-shadow: 0px 2.77px 2.21px 0px rgba(191, 191, 191, 0.0197) !important;

    box-shadow: 0px 6.65px 5.32px 0px rgba(191, 191, 191, 0.0283) !important;

    box-shadow: 0px 12.52px 10.02px 0px rgba(191, 191, 191, 0.035) !important;

    box-shadow: 0px 22.34px 17.87px 0px rgba(191, 191, 191, 0.0417) !important;

    box-shadow: 0px 41.78px 33.42px 0px rgba(191, 191, 191, 0.0503) !important;

    box-shadow: 0px 100px 80px 0px rgba(191, 191, 191, 0.07) !important;

}

.qfa {
    margin-bottom: 201px !important;
}

.css-cv1eik-MuiPaper-root-MuiAccordion-root:last-of-type {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

}

.css-cv1eik-MuiPaper-root-MuiAccordion-root:first-of-type {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.collapses {
    margin-top: 88px !important;
}

.comment-card {
    box-shadow: 0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.0197);

    box-shadow: 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.0283);

    box-shadow: 0px 12.52px 10.02px 0px rgba(0, 0, 0, 0.035);

    box-shadow: 0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.0417);

    box-shadow: 0px 41.78px 33.42px 0px rgba(0, 0, 0, 0.0503);

    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07);

}

.social {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 660px !important;
    gap: 40px;
}

.one {
    gap: 24px;
}

.gap-16 {
    display: flex;
    flex-direction: column;
    gap: 16px !important;
}