* {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    padding: 0 !important;
    margin: 0 !important;
}

$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1536px;

@mixin xs {
    @media (max-width: #{$breakpoint-xs}) {
        @content;
    }
}

@mixin sm {
    @media (max-width: #{$breakpoint-sm}) {
        @content;
    }
}

@mixin md {
    @media (max-width: #{$breakpoint-md}) {
        @content;
    }
}

@mixin lg {
    @media (max-width: #{$breakpoint-lg}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$breakpoint-xl}) {
        @content;
    }
}

.linkandarrow {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #9A9EA6;
    flex-direction: row;
}

.container {

    h6 {
        color: #9A9EA6 !important;
    }


    h5 {
        color: #4475F2 !important;
    }

    .Search {
        .search-input {
            width: 530px;
            height: 48px;
            border-radius: 30px;
            border: none;
            outline: none;
            background-color: #F0F1F2;
            position: relative;

            &::placeholder {
                color: #9A9EA6;
                padding: 40px;
            }
        }

        .search-icon {
            position: absolute;
            top: 50%;
            left: 20px;
            color: #9A9EA6;
        }
    }

    .lang {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        svg {
            color: #9A9EA6;
        }
    }

    .location {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        svg {
            color: #4475F2;
            background-color: #E3EBFD;
            border-radius: 50%;
            padding: 2px !important;
            margin: 5px;
        }


        .sub-text {
            color: #9A9EA6 !important;
            display: flex;
            flex-direction: column;
            align-items: start;

            svg {
                background-color: white;
                border-radius: 50%;
                padding: 0;
                font-size: 30px;
            }

            span {
                font-weight: bold;
                color: #4475F2 !important;
            }

            .sub-2 {
                display: flex;
                flex-direction: row;
                align-items: center;
            }


        }
    }
}

.drawer-search {
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #E0E0E0;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    &::placeholder {
        color: #9A9EA6;
        text-align: center;
    }
}

.nav-down-wrapper {
    padding-top: 10px !important;
    padding-left: 65px !important;
    padding-right: 65px !important;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include md {
        flex-direction: column;
        margin: 0;
        padding: 0;
        margin-top: 100px;
    }

    .links {
        display: flex;
        flex-direction: row;
        gap: 10px;

        @include md {
            flex-direction: column;
            gap: 15px;
        }
    }

    .btns {
        display: flex;
        flex-direction: row;
        gap: 10px;


        .person {

            padding: 5px !important;
            width: 30px;
            height: 30px;
            background-color: #E3EBFD;
            color: #4475F2;
            border-radius: 50%;
        }

        .shop {
            padding: 5px !important;
            width: 30px;
            height: 30px;
            background-color: #4475F2;
            color: white;
            border-radius: 50%;
        }
    }
}

.photo-playback {
    @include md {
        width: 100%;
        height: 100%;
        margin-top: 72px;
    }

    @include sm {
        margin-top: 50px;
        width: 100%;
        height: 100%;
    }
}

.man-landing-photo {
    @include md {
        width: 70%;
        height: 70%;
        margin-top: 72px;
    }

    @include sm {
        margin-top: 50px;
        width: 70%;
        height: 70%;
    }
}

.chip {
    color: #4475F2 !important;
    background-color: #E3EBFD !important;
    padding: 10px !important;
}

.landing-wrapper {
    margin-top: 130px !important;
    margin-bottom: 50px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 81vh;

    @include md {
        flex-direction: column-reverse;
        gap: 15px;
        height: auto;
        margin-top: 72px !important;
    }
}

.landing-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    button {
        margin: 10px !important;
        padding: 0 10px !important;
    }
}

.sponsors {
    display: flex;
    flex-direction: row;
    gap: 30px !important;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px !important;
    margin-bottom: 50px !important;
    min-height: 100px;

    @include md {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    img.photo-gray {
        // max-height: 100px;
        scale: 1;
        filter: grayscale(10);
        filter: drop-shadow(0 0 30px #333), grayscale(10);

    }

    img.photo-normal {
        max-height: 100px;
        scale: .9;
        filter: drop-shadow(0 0 30px #33333317);

    }
}

.counries {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px !important;

    @include md {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }

    @include sm {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.country-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 278.46px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


    @include md {
        width: 100%;
        height: 100%;
    }

    .img {
        border-radius: 20px;
        object-fit: cover;
        width: 278.46px;
        height: 392.36px;
    }

    .sub-text {


        p {
            font-size: 17px;
            padding-left: 10px !important;

            &.two {
                color: #9A9EA6;
            }

            &.one {
                font-weight: bold !important;
                color: black;
            }
        }


        width: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        @include md {
            background: transparent;
        }

        @include sm {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 90px;
            margin-top: 10px;
        }

        background-color: #ffffffaf;
        color: black;
        border-radius: 0 12px 0 0;
    }
}

.section-emoji {
    width: 50px !important;
    margin-right: 10px !important;
}

.fav-wrapper,
.section-wrapper {

    h1 {
        font-weight: bold;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 40px !important;
    margin-bottom: 15px !important;

    @include md() {
        padding: 50px;
    }


    p {
        &.title {
            font-size: 18px;
            color: #4475F2 !important;
            font-weight: bold;
            padding-left: 30px !important;

            @include md {

                padding-left: 20px !important;
            }
        }
    }

    .fav-sub,
    .section-sub {
        .section-emoji {
            width: inherit();
        }

        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        @include md {
            padding-left: 30px !important;
        }
    }
}